<aside class="menu">
    <div class="main-content menu-content">
        <h1>
            <a href="#">LOGO</a>
        </h1>

        <nav>
            <ul>
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Hard Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Projetos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
            </ul>
        </nav>
    </div>
</aside>

<div class="menu-spacing"></div>